*
!*/
!*.r
!*.R
!*.rmd
!*.Rmd
!*.py
!*.html
!*.ipynb
!*.m
!*.tex
!*.pdf
!*.txt
!.gitignore
!*.pptx
!*.yaml
!*.sh
!*.bat
__pycache__/
!*.png
anno_data/
frames/
videos/
models/
listgame/
!*.code-workspace
trainer.py